body{
    /* background-color: rgb(35, 194, 159); */
    display: grid;
}
.mdl-layout__header {
    background-color: rgb(35, 162, 194);
}
.button-cambiar-color{
    margin-top:100px;
    display: block;
}
.button-cambiar-color .container{
    margin: 0 auto;
    text-align: center;
}